{% extends 'base/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{{ user }}
{% if form.errors %}
<div class="alert alert-dismissible alert-warning">
  <h4 class="alert-heading">Warning!</h4>
  <p class="mb-0">{{ form.non_field_errors }}.</p>
</div>
{% endif %}
<form method="POST" action="{% url 'login' %}">
{% csrf_token %}
  <fieldset>
    <legend>Логирование на сайте </legend>
    <div class="form-group">
      <label class="form-label mt-4">Email</label>
      <div class="col-sm-5">
        {{ form.username }}
      </div>
    </div>
    <div class="form-group">
      <label class="form-label mt-4">Пароль</label>
      <div class="col-sm-5">
        {{ form.password }}
      </div>
    </div>
    <button type="submit" class="btn btn-outline-success">Submit</button>
  </fieldset>
</form>

{% endblock %}

