{% extends 'base/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{{ user }}
{% if form.errors %}
<div class="alert alert-dismissible alert-warning">
  <h4 class="alert-heading">Warning!</h4>
  <p class="mb-0">{{ form.non_field_errors }}.</p>
</div>
{% endif %}
<form method="POST" action="{% url 'password_change' %}">
{% csrf_token %}
  {{ form }}
{#  <fieldset>#}
{#    <legend>Смена пароля </legend>#}
{#    <div class="form-group">#}
{#      <label class="form-label mt-4">Старый пароль</label>#}
{#      <div class="col-sm-5">#}
{#        {{ form.old_password }}#}
{#      </div>#}
{#    </div>#}
{#    <div class="form-group">#}
{#      <label class="form-label mt-4">Новый пароль</label>#}
{#      <div class="col-sm-5">#}
{#        {{ form.new_password1 }}#}
{#      </div>#}
{#    </div>#}
{#    <div class="form-group">#}
{#      <label class="form-label mt-4">Новый пароль2</label>#}
{#      <div class="col-sm-5">#}
{#        {{ form.new_password2 }}#}
{#      </div>#}
{#    </div>#}
    <button type="submit" class="btn btn-outline-success">Submit</button>
  </fieldset>
</form>
{% endblock %}